@import "src/theme/theme-variables";

.navbar {
  color: $light-gray;
  font-size: 36px;
  text-align: right;

  &.at-home {
    color: $black;
  }

  .hidden {
    opacity: 0;
    //transition: $normal-time ease-out;
  }

  ul {
    &:hover {
      color: $light-gray;

      .active {
        color: inherit;
      }

      li:hover {
        color: $black;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .navbar {
    text-align: left;
    font-size: 24px;
  }
}
