/*
 * Application global variables.
 */

// Font imports
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow&display=swap");

/*
 * Variables
 */

// Colors
$black: #000000;
$gray: #656565;
$light-gray: #bbbbbb;

// Fonts
$primary-font: "Barlow", sans-serif;
$title-font: "Abril Fatface", cursive;

// Lengths
$footer-height: 120px;
$page-gutter: 48px;
$page-gutter-sm: 30px;

// Duration
$normal-time: 0.15s;
$double-time: 0.3s;

/*
 * Mixins
 */

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
