/*
 * Application global variables.
 */

// Font imports
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");

/*
 * Variables
 */

// Colors
$black: #000000;
$gray: #656565;

// Fonts
$primary-font: "Raleway", sans-serif;
$title-font: "Abril Fatface", cursive;

// Lengths
$footer-height: 100px;

// Duration
$normal-time: 0.25s;
$double-time: 0.5s;
