/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// Generic

body {
  font-family: $primary-font;
}

//noinspection Stylelint
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// Typography

.title {
  font-family: $title-font;
}

// Lists

.links-list {
  font-family: $title-font;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: color $normal-time;

    li {
      transition: color $normal-time;
    }

    li:hover {
      color: $black;
    }

    &:hover {
      color: $gray;
    }
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}
