/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// Generic

body {
  font-family: $primary-font;
  color: $gray;
}

.black {
  color: $black;
}

// Typography

.title {
  font-family: $title-font;
}

b {
  color: $black;
  font-weight: inherit;
}

a {
  color: inherit;
  transition: $normal-time;
  //text-decoration-style: dashed;
  text-decoration-color: $light-gray;

  &:hover {
    color: $black;
    text-decoration-color: inherit;
  }
}

// Lists

.links-list {
  font-family: $title-font;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: $normal-time ease-out;

    &:hover {
      color: $light-gray;

      .active {
        color: inherit;
      }

      li:hover {
        color: $black;
      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: inherit;
    color: inherit;
  }

  .active {
    color: $black;
  }
}

// Animation

.blinking {
  animation: blinker 1s step-end infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.typing-animate {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
