/*
 * Application global variables.
 */

/*
 * Variables
 */

// Colors
$black: #000000;
$gray: #656565;
$light-gray: #bbbbbb;
$lightest-gray: #f6f6f6;

// Placeholder
$bg-gray-100: #f7f7f7;
$bg-gray-200: #f0f0f0;
$bg-gray-300: #e7e7e7;
$bg-gray-400: #e0e0e0;

// Fonts
$primary-font: "Barlow", sans-serif;
$title-font: "Abril Fatface", cursive;

// Lengths
$page-gutter: 48px;
$footer-height: 120px;
$page-gutter-sm: 36px;
$sidebar-width: 160px;
$center-content-width: 500px;
$page-width: 680px;
$paragraph-gap: 45px;

// Duration
$normal-time: 0.15s;
$double-time: 0.3s;

// Screen breakpoints
$screen-lg: 1300px;
$screen-md: 1000px;
$screen-sm: 600px;
$screen-xs: 400px;

/*
 * Mixins
 */

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  // stylelint-disable
  user-drag: none;
}

@mixin title {
  font-family: $title-font;
  line-height: 88%;
}
