@import "src/theme/theme-variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.empty {
  text-align: center;
}

.posts-container {
  width: 100%;
}

.posts {
  &:hover {
    ::ng-deep {
      .post {
        .title {
          color: $gray;
        }
      }

      .post:hover {
        .title {
          color: $black;
        }
      }
    }
  }
}

.pagination {
  margin-top: $page-gutter;
  color: $light-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .button.active {
    cursor: pointer;
    color: $gray;
  }

  .button.active:hover {
    color: $black;
  }
}
