@import "src/theme/theme-variables";

:host {
  display: grid;
  grid-template-areas: "page filler";
  grid-template-columns: auto auto;
  align-items: center;
}

.post-container {
  grid-area: page;
  width: $page-width;

  .title {
    @include title;

    font-size: 56px;
    color: $black;
    margin-bottom: 20px;
    margin-top: 10px;
    width: $page-width;
  }

  .info-container {
    .date {
      margin-left: 10px;
      color: $light-gray;
    }
  }

  .body {
    min-height: 40vh;
    font-size: 21px;
    line-height: 32px;
    margin-top: $page-gutter;
    color: $black;
  }
}

@media only screen and (max-width: $screen-sm) {
  // TODO: deal with smaller screens
}

.post-container.placeholder {
  .info-container {
    height: 24px;
    width: 100px;
    background-color: $bg-gray-200;
  }

  .title {
    height: 48px;
    width: 500px;
    background-color: $bg-gray-400;
  }

  .tags-container {
    width: 150px;
    height: 24px;
    background-color: $bg-gray-100;
  }
}
