@import "src/theme/theme-variables";

:host {
  display: grid;
  grid-template-areas: "page filler";
  grid-template-columns: auto auto;
  align-items: center;
}

.post-container {
  grid-area: page;
  max-width: $page-width;
}

.title {
  @include title;

  font-size: 56px;
  color: $black;
  margin-bottom: 20px;
  margin-top: 10px;
}

.info-container {
  .date {
    color: $light-gray;
  }
}

.body {
  font-size: 21px;
  line-height: 32px;
  margin-top: $page-gutter;
  color: $black;
}

@media only screen and (max-width: $screen-sm) {
  .title {
    font-size: 42px;
  }

  .body {
    font-size: 18px;
    line-height: 28px;
  }
}
