<div class="post-container" *ngIf="!isPostLoading; else loadingPlaceholderPost">
  <div class="info-container">
    <span class="author">{{ post.author }}</span><span class="date">{{ post.edited | timeago }}</span>
  </div>
  <div class="title">{{ post.title }}</div>
  <div class="tags-container">
    <span *ngFor="let tag of post.tags" class="tag">{{ tag.name }}</span>
  </div>
  <div class="body" *ngIf="!isContentLoading">
    <ng-container *ngFor="let block of content">
      <app-block [block]="block"></app-block>
    </ng-container>
  </div>
  <div *ngIf="isContentLoading" class="placeholder body">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ng-template #loadingPlaceholderPost>
  <div class="post-container placeholder">
    <div class="info-container"></div>
    <div class="title"></div>
    <div class="tags-container"></div>
    <div class="body"></div>
  </div>
</ng-template>
