@import "src/theme/theme-variables";

.search-container {
  margin-top: $page-gutter;
}

.tags-container {
  font-size: 18px;
  margin-top: 12px;
  text-align: right;
}

@media only screen and (max-width: $screen-sm) {
  .search-container {
    margin-top: 0;
  }
}
