@import "src/theme/theme-variables";

footer {
  color: $black;
  text-align: center;
  height: $footer-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.copyright {
  font-size: 14px;
}

.social-list {
  width: $center-content-width;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: $page-gutter;

  div:first-child {
    text-align: left;
    margin-left: $page-gutter;
  }

  div:last-child {
    text-align: right;
    margin-right: $page-gutter;
  }
}

@media only screen and (max-width: $screen-sm) {
  .social-list {
    width: 100%;
    font-size: 20px;
    justify-content: space-between;
    grid-column-gap: 0;

    div:first-child {
      margin-left: $page-gutter-sm;
    }

    div:last-child {
      margin-right: $page-gutter-sm;
    }
  }
}
