@import "src/theme/theme-variables";

footer {
  color: $black;
  text-align: center;
  height: $footer-height;
  display: grid;
  justify-content: center;
  align-content: space-evenly;
}

.copyright {
  font-size: 14px;
}

.social-list {
  width: 100vw;
  font-size: 24px;

  ul {
    padding: 0 $page-gutter;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-column-gap: $page-gutter;
  }
}

@media (max-width: $screen-sm) {
  .social-list {
    font-size: 20px;

    ul {
      justify-content: space-around;
      grid-column-gap: $page-gutter-xs;
    }
  }
}
