@import "src/theme/theme-variables";

:host {
  display: grid;
  height: 100vh;
  grid-template-rows: auto $footer-height;
}

.layout-container {
  display: grid;
  grid-template-areas: "sidebar content-container";
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
}

.sidebar-container {
  grid-area: sidebar;
  display: grid;
  grid-template-areas: "navbar" "sidebar-additional";
  grid-template-columns: $sidebar-width;
  align-content: center;
  padding: $page-gutter;
}

app-navbar {
  grid-area: navbar;
}

.sidebar-additional {
  grid-area: sidebar-additional;
}

.content-container {
  padding: $page-gutter;
  grid-area: content-container;
}

@media (max-width: $screen-sm) {
  .layout-container {
    grid-template-areas: "sidebar" "content-container";
    grid-template-columns: 100vw;
    align-content: space-between;
  }

  .sidebar-container {
    grid-template-areas: "navbar sidebar-additional";
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: $page-gutter $page-gutter 0 $page-gutter;
  }
}

@media (max-width: $screen-xs) {
  .sidebar-container {
    padding: $page-gutter-xs $page-gutter-xs 0 $page-gutter-xs;
  }

  .content-container {
    padding: $page-gutter-xs;
  }
}
