@import "src/theme/theme-variables";

:host {
  display: grid;
  height: 100vh;
  grid-template-rows: auto $footer-height;
}

.filler-container {
  grid-area: filler;
  margin: $page-gutter;
  width: $sidebar-width;
}

.sidebar-container {
  grid-area: sidebar;
  display: grid;
  grid-template-areas: "navbar" "sidebar-additional";
  grid-template-columns: $sidebar-width;
  align-content: center;
  justify-content: right;
  margin: $page-gutter;
}

.layout-container {
  display: grid;
  grid-template-areas: "sidebar content-container filler";
  grid-template-columns: auto $center-content-width auto;
  justify-content: center;
  align-content: center;

  &.wide-layout {
    grid-template-columns: auto $page-width auto;

    .sidebar-container {
      align-content: start;
    }
  }

  &.center-layout {
    .filler-container {
      display: none;
    }
  }
}

app-navbar {
  grid-area: navbar;
}

.sidebar-additional {
  grid-area: sidebar-additional;
}

.content-container {
  margin: $page-gutter;
  grid-area: content-container;
}

@media only screen and (max-width: $screen-lg) {
  .layout-container {
    &.wide-layout {
      .sidebar-container {
        margin-right: 0;
        margin-left: 0;
      }

      .filler-container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: $screen-md) {
  .sidebar-container {
    margin-right: 0;
  }

  .filler-container {
    display: none;
  }

  .layout-container {
    &.wide-layout {
      grid-template-areas: "sidebar" "content-container";
      grid-template-columns: auto;
      align-content: space-between;

      .sidebar-container {
        grid-template-areas: "navbar sidebar-additional";
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: $page-gutter $page-gutter 0 $page-gutter;
      }
    }
  }
}

@media only screen and (max-width: $screen-sm) {
  .sidebar-container {
    grid-template-areas: "navbar sidebar-additional";
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin: $page-gutter-sm $page-gutter-sm 0 $page-gutter-sm;
  }

  .layout-container {
    grid-template-areas: "sidebar" "content-container";
    grid-template-columns: 100%;
    align-content: space-between;
    justify-content: start;

    &.wide-layout {
      grid-template-columns: auto;
      .sidebar-container {
        margin: $page-gutter-sm $page-gutter-sm 0 $page-gutter-sm;
      }
    }
  }

  .content-container {
    margin: $page-gutter-sm;
  }
}
