@import "src/theme/theme-variables";

.name {
  @include title;

  color: $black;
  font-size: 72px;
  width: 225px;
}

.role {
  @include title;

  width: 275px;
  font-size: 64px;
}

:host {
  @include no-select;

  height: 250px;
  grid-area: hero;
}

@media (max-width: $screen-sm) {
  .name {
    font-size: 64px;
  }

  .role {
    font-size: 56px;
  }
}

@media (max-width: $screen-xs) {
  .name {
    font-size: 56px;
  }

  .role {
    font-size: 48px;
  }
}
