@import "src/theme/theme-variables";

.landing-page {
  font-family: $title-font;
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 400px;
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-content: center;
  justify-content: center;
}

.name {
  font-size: 72px;
  line-height: 88%;
}

.role {
  color: $gray;
  font-size: 64px;
  line-height: 88%;
}

.hero {
}

.page-list {
  font-size: 36px;
  padding-top: 24px;
  line-height: 120%;
  text-align: right;
  padding-right: 96px;
}
