@import "src/theme/theme-variables";

.name {
  color: $black;
  font-size: 72px;
  width: 225px;
  line-height: 88%;
}

.role {
  width: 275px;
  font-size: 64px;
  line-height: 88%;
}

:host {
  @include no-select;
  font-family: $title-font;
  height: 250px;
  grid-area: hero;
}

@media (max-width: 600px) {
  .name {
    font-size: 64px;
  }

  .role {
    font-size: 56px;
  }
}

@media (max-width: 370px) {
  .name {
    font-size: 56px;
  }

  .role {
    font-size: 48px;
  }
}
